<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <br><br><br>

    <div class="container-fluid">
      <br>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-8" id="transition">
          <div class="container-fluid citation" style="text-align:center">
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis dui a odio faucibus, eu interdum purus venenatis. Curabitur fermentum ex id augue mollis, quis tempus neque volutpat. Duis vel ex eget lorem auctor ultricies. Suspendisse ac arcu ut nulla posuere tincidunt sit amet sed mauris. Donec leo ex, tincidunt ut tristique fringilla, mollis vel nisl. Duis aliquet imperdiet mi sed dapibus. Fusce auctor, nibh ut posuere faucibus, sem massa pharetra est, sed dignissim odio ex ac nisl. Sed nisl orci, dignissim a justo quis, pharetra tempus ex. Morbi vestibulum arcu auctor nunc luctus, nec fringilla mauris imperdiet. Donec suscipit urna sit amet neque fringilla, at luctus lacus rutrum. Integer finibus venenatis luctus.

            </p><p> Proin eleifend tincidunt venenatis. Nullam a sem porta, ornare lorem eget, egestas elit. Etiam ac felis felis. Phasellus nibh est, scelerisque ac pretium at, gravida sed odio. Cras sit amet imperdiet nibh. Sed ut ultrices ante. Nulla lobortis magna sed purus iaculis semper. In metus metus, aliquam sed facilisis sed, molestie sollicitudin orci. Proin a mollis diam. Ut lobortis dignissim ante in blandit. Nunc nec posuere dolor. Vestibulum tristique, turpis a tempus lacinia, est eros condimentum elit, et pulvinar felis arcu id massa. Curabitur quis congue libero, id porta nunc. Maecenas ac nisl auctor ipsum porta rhoncus.
            
            </p><p>Maecenas arcu risus, iaculis sed tortor in, condimentum dapibus neque. Aliquam eget erat a lorem posuere efficitur. Donec vitae rutrum massa. Maecenas facilisis consequat tortor, eu lacinia enim ultricies ac. Suspendisse potenti. Fusce posuere tempor aliquet. Integer et tortor sapien. Donec sagittis vulputate mollis. Cras placerat, orci non lacinia maximus, orci elit porttitor velit, ut condimentum dolor magna et erat.
            
            </p><p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur facilisis tellus nec diam suscipit ornare. Cras sodales sapien eget imperdiet molestie. Donec eget facilisis nibh, eget gravida lectus. Fusce eu purus tellus. Mauris eget magna at ipsum tempus molestie non eget est. Sed non est vel ligula maximus mollis. Nulla fringilla, quam quis eleifend pulvinar, erat ex laoreet elit, eu tempor purus massa in lacus. In non felis interdum, semper nisl et, luctus neque. Donec dapibus dignissim dolor et facilisis. Donec vel ex tellus. Praesent suscipit est vel tellus commodo vestibulum. Cras quis tellus lacinia, dapibus orci in, rhoncus lacus. Pellentesque cursus turpis vitae mi scelerisque, eget pellentesque nisi ornare. Duis eget tincidunt ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            
            </p><p>Proin hendrerit sollicitudin felis, vel tempus ex gravida a. Aliquam a eleifend nulla. Praesent vitae risus egestas, lacinia urna blandit, hendrerit odio. Pellentesque vitae aliquam lectus, eget sodales nibh. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent sollicitudin a lectus a commodo. Nulla turpis leo, vehicula eu odio at, dignissim convallis purus. Curabitur aliquam euismod neque, vel blandit odio luctus vel. Vivamus rutrum pretium dolor quis aliquet. Morbi sed lobortis risus. Fusce eget libero sollicitudin, ultricies diam eu, pulvinar sapien. Etiam non consequat diam.
            
            </p>
          </div>
        </div>
      </div>
      </div>
    </body>
    </html>